body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

p {
    text-align: justify;
}

span {
    color: orangered;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 7%;
    margin: 1%;
}

.half-width img {
    width: 80%;
}

#heading-part {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}