body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

p {
    text-align: justify;
}

span {
    color: orangered;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 7%;
    margin: 1%;
}

.half-width img {
    width: 80%;
}

#heading-part {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

#link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, orangered);
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: 400;
}